/utils/account.json
/node_modules/
/yarn.lock
/.idea
/.history
/box.dat
/CookieSet.json
/jdCookie.js
/logs
/backup
/JD_DailyBonus.js
/result.txt
/config/
/config/beifen
/config/formatCookie.js
/config/githubCookies.md
/config/myCookies.js
/config/runAllTask.js
/config/shareCodeJSON.md
/*.json
/*alidate.txt
/.env