/utils/account.json
/node_modules/
/yarn.lock
/.idea
/.history
/box.dat
/CookieSet.json
/jdCookie.js
/logs
/backup
/JD_DailyBonus.js
/result.txt
/config/testCookie.js

/config/formatCookie.js
/config/autoRunFileList.js
/config/githubCookies.md
/*.json
/*alidate.txt
/.env