name: all-in-one
on:
  schedule:
    - cron: 5 */2 * * *
  watch:
    types: started
jobs:
  build:
    runs-on: Ubuntu-20.04  
    steps:
    - uses: actions/checkout@v2
    - name: Install build dependencies
      run: |
        sudo npm install -g typescript
        sudo apt-get install wget
        sudo apt install rename
    - name: down
      run: |
        echo "========= 开始清空脚本 ========="
        shopt -s extglob
        rm -rf !(utils|docker|backup|tools|Loon|QuantumultX|README.md|jd_half_redrain.js|jd_super_redrain.js)
        shopt -u extglob
        echo "========= 开始下载smiek2221的脚本 ========="
        git clone https://github.com/smiek2221/scripts.git  ./smiek2221
        rm -r ./smiek2221/USER_AGENTS.js
        cp -f ./smiek2221/*_*.js ./
        rm -rf ./smiek2221
        echo "========= 开始下载cdle的脚本 ========="
        git clone https://github.com/cdle/jd_study.git  ./cdle
        cp -f ./cdle/*_*.js ./
        rm -rf ./cdle
        echo "========= 开始下载Wenmoux的脚本 ========="
        git clone -b wen https://github.com/Wenmoux/scripts.git ./Wenmoux
        mv ./Wenmoux/jd/chinnkarahoi_jd_bookshop.js ./jd_bookshopWenmoux.js
        cp -f ./Wenmoux/jd/*_*.js ./
        rm -rf ./Wenmoux
        echo "========= 开始下载passby的脚本 ========="
        wget -O ./jd_dj_fruit.js https://github.com/passerby-b/JDDJ/raw/main/jddj_fruit.js
        wget -O ./jd_dj_fruit_collectWater.js https://github.com/passerby-b/JDDJ/raw/main/jddj_fruit_collectWater.js
        wget -O ./jd_dj_bean.js https://github.com/passerby-b/JDDJ/raw/main/jddj_bean.js
        wget -O ./jd_dj_plantBeans.js https://github.com/passerby-b/JDDJ/raw/main/jddj_plantBeans.js
        wget -O ./jd_dj_getPoints.js https://github.com/passerby-b/JDDJ/raw/main/jddj_getPoints.js
        wget -O ./jd_dd_fruit.js https://raw.githubusercontents.com/passerby-b/didi_fruit/main/dd_fruit.js
        wget -O ./jd_ks_fruit.js https://github.com/passerby-b/ks_fruit/raw/main/ks_fruit.js
        echo "========= 开始下载curtinlv的脚本 ========="
        git clone https://github.com/curtinlv/JD-Script.git ./curtinlv
        find ./curtinlv/ -name "*py" -type f -exec cp {} ./ \;
        rm -rf ./curtinlv
        echo "========= 开始下载airacg的脚本及依赖 ========="
        git clone https://github.com/airacg/jd_task.git ./airacg
        cp -r ./airacg/utils ./
        cp -f ./airacg/*_*.js ./
        rm -rf ./airacg
        echo "========= 开始下载JDHelloWorld的脚本 ========="
        git clone -b main https://github.com/JDHelloWorld/jd_scripts.git ./JDHelloWorld
        mv ./JDHelloWorld/githubAction.md ./githubAction.md
        echo "========= 开始复制依赖 ========="
        cp -rf ./JDHelloWorld/tools ./
        cp -f ./JDHelloWorld/package.json ./
        cp -f ./JDHelloWorld/sendNotify.js ./
        cp -f ./JDHelloWorld/jdCookie.js ./
        cp -f ./JDHelloWorld/*ShareCodes.js ./
        echo "========= 开始转换JDHelloWorld的ts脚本 ========="
        cd ./JDHelloWorld
        sudo npm install
        tsc *_*.ts
        echo "========= 开始复制JDHelloWorld的脚本 ========="
        cd ..
        rm -rf ./JDHelloWorld/jd_update.js
        cp -f ./JDHelloWorld/*_*.js ./
        cp -f ./JDHelloWorld/*Token.js ./
        cp -f ./JDHelloWorld/*_*.ts ./backup/ts/
        rm -rf ./JDHelloWorld
        echo "========= 开始下载单文件脚本 ========="
        #wget -N https://github.com/jiulan/platypus/raw/main/scripts/jd_nzmh.js
        wget -N https://github.com/zero205/JD_tencent_scf/raw/main/jd_jxqd.js
        wget -N https://github.com/yangtingxiao/QuantumultX/raw/master/scripts/jd/jd_lotteryMachine.js
        wget -N https://github.com/NobyDa/Script/raw/master/JD-DailyBonus/JD_DailyBonus.js
        #wget -N https://github.com/panghu999/panghu/raw/master/jd_ylyn.js
        wget -O ./jd_task_pigPet.js https://github.com/airacg/jd_task/raw/main/jr_task_pigPet.js
        wget -O ./jd_shop_sign.js https://github.com/jiulan/platypus/raw/main/scripts/jd_shop_sign.js
        wget -O ./jd_joy_reward_Aaron.js https://github.com/Aaron-lv/sync/raw/jd_scripts/jd_joy_reward.js
        wget -O ./jd_blueCoin_Aaron.js https://github.com/Aaron-lv/sync/raw/jd_scripts/jd_blueCoin.js
        echo "========= 开始更改前缀 ========="
        #for i in `ls | grep -e ^gua`; do mv -f $i `echo "jd_"$i`; done
        rename -f 's/^jr_/jd_/' *
        rename -f 's/^jx_/jd_/' *
        rename -f 's/^gua_/jd_/' *
        #rename -f 's/^jddj/jd_dj_/' *
        echo "========= 开始合并cron定时文件 ========="
        wget -N https://raw.githubusercontent.com/gossh520/jd-v4/master/docker/crontab_list.sh
        mv -f crontab_list.sh ./docker/crontab_list.sh
        cat ./docker/diy.sh >> ./docker/crontab_list.sh
        echo "========= 修改cron名称及临时屏蔽 ========="
        sed -i 's/wenmoux//g' ./docker/crontab_list.sh
        sed -i 's/cdle//g' ./docker/crontab_list.sh
        sed -i 's/smiek2221//g' ./docker/crontab_list.sh
        sed -i '/jd_live_redrain\|jd_small_home\|necklace\|crazy\|EsportsManager\|delCoupon\|jd_pigPet/d' ./docker/crontab_list.sh
        echo "========= 备份cron及yml文件 ========="
        log_time=$(date "+%Y-%m-%d-%H-%M-%S")
        diff ./docker/crontab_list.sh ./backup/cron/crontab_list.sh | tee ./backup/cron/env.diff
        if [ ! -s ./backup/cron/env.diff ]; then
            echo "定时文件没有变化...\n"
        elif [ -s ./backup/cron/env.diff ] ; then
            cp -f ./docker/crontab_list.sh ./backup/cron/crontab_list_$log_time.sh
        fi
        diff ./.github/workflows/jd_scripts.yml ./backup/yml/jd_scripts.yml | tee ./backup/yml/env.diff
        if [ ! -s ./backup/yml/env.diff ]; then
            echo -e "yml文件没有变化...\n"
        elif [ -s ./backup/yml/env.diff ] ; then
            cp -f ./.github/workflows/jd_scripts.yml ./backup/yml/jd_scripts_$log_time.yml
        fi
        echo "========= 删除对比缓存及复制文件下次对比 ========="
        rm -rf ./backup/yml/env.diff
        rm -rf ./backup/cron/env.diff
        cp -f ./.github/workflows/jd_scripts.yml ./backup/yml/jd_scripts.yml
        cp -f ./docker/crontab_list.sh ./backup/cron/crontab_list.sh
    - name: 'Commit Files'
      id: commit
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff --quiet && git diff --staged --quiet || git commit -am 'update'
    - name: Push Dust
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.PAT }}
        branch: master
